@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
   --header-height: 3rem;
   --nav-width: 68px;
   --first-color: #4723D9;
   --first-color-light: #AFA5D9;
   --white-color: #F7F6FB;
   --body-font: 'Nunito', sans-serif;
   --normal-font-size: 1rem;
   --z-fixed: 100
}

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   position: relative;
   margin: var(--header-height) 0 0 0;
   padding: 0 1rem;
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   transition: .5s
}

a {
   text-decoration: none
}

.header {
   width: 100%;
   height: var(--header-height);
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 1rem;
   background-color: var(--white-color);
   z-index: var(--z-fixed);
   transition: .5s
}

.header_toggle {
   color: var(--first-color);
   font-size: 1.5rem;
   cursor: pointer
}

.header_img {
   width: 35px;
   height: 35px;
   display: flex;
   justify-content: center;
   border-radius: 50%;
   overflow: hidden
}

.header_img img {
   width: 40px
}

.l-navbar {
   position: fixed;
   top: 0;
   left: -30%;
   width: var(--nav-width);
   height: 100vh;
   background-color: var(--first-color);
   padding: .5rem 1rem 0 0;
   transition: .5s;
   z-index: var(--z-fixed)
}

.nav {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow: hidden
}

.nav_logo,
.nav_link {
   display: grid;
   grid-template-columns: max-content max-content;
   align-items: center;
   column-gap: 1rem;
   padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
   margin-bottom: 2rem
}

.nav_logo-icon {
   font-size: 1.25rem;
   color: var(--white-color)
}

.nav_logo-name {
   color: var(--white-color);
   font-weight: 700
}

.nav_link {
   position: relative;
   color: var(--first-color-light);
   margin-bottom: 1.5rem;
   transition: .3s
}

.nav_link:hover {
   color: var(--white-color)
}

.nav_icon {
   font-size: 1.25rem
}

.show {
   left: 0
}

.body-pd {
   padding-left: calc(var(--nav-width) + 1rem)
}

.active {
   color: var(--white-color)
}

.active::before {
   content: '';
   position: absolute;
   left: 0;
   width: 2px;
   height: 32px;
   background-color: var(--white-color)
}

.height-100 {
   height: 100vh
}

@media screen and (min-width: 768px) {
   body {
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding-left: calc(var(--nav-width) + 2rem)
   }

   .header {
      height: calc(var(--header-height) + 1rem);
      padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
   }

   .header_img {
      width: 40px;
      height: 40px
   }

   .header_img img {
      width: 45px
   }

   .l-navbar {
      left: 0;
      padding: 1rem 1rem 0 0
   }

   .show {
      width: calc(var(--nav-width) + 156px)
   }

   .body-pd {
      padding-left: calc(var(--nav-width) + 188px)
   }
}

/* ! Card */
.card_code {
   width: 100%;
   margin: 0 auto;
   background-color: #023252;
   border-radius: 8px;
   z-index: 1;
   color: white;
   font-family: 'Poppins', sans-serif !important;
   font-weight: bold;
   /* text-align: center; */
}

.card__content {
   padding: 1rem;
}

.tools {
   display: flex;
   align-items: center;
   padding: 9px;
}

.circle {
   padding: 0 4px;
}


.box {
   display: inline-block;
   align-items: center;
   width: 10px;
   height: 10px;
   padding: 1px;
   border-radius: 50%;
}

.red {
   background-color: #ff605c;
}

.yellow {
   background-color: #ffbd44;
}

.green {
   background-color: #00ca4e;
}


.box {
   text-align: center;
}

.button {
   font-size: 1em;
   padding: 6px 12px;
   color: #fff;
   text-decoration: none;
   cursor: pointer;
   transition: all 0.3s ease-out;
   background: #4723D9;
   border-radius: 50px;
}

/* POPUP CLASSROOM */
.overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.8);
   visibility: hidden;
   opacity: 0;
   padding-top: 200px;
}

.overlay:target {
   visibility: visible;
   opacity: 1;
}

.wrapper {
   margin: auto;
   padding: 20px;
   background: #e7e7e7;
   border-radius: 5px;
   width: 65%;
   position: relative;
   transition: all 5s ease-in-out;
}

.wrapper h2 {
   margin-top: 0;
   color: #333;
}

.wrapper .close {
   position: absolute;
   top: 20px;
   right: 30px;
   transition: all 10ms;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: #333;
}

.wrapper .close:hover {
   color: #06D85F;
}

.wrapper .content {
   max-height: 30%;
   overflow: auto;
}

/* ! form */

.container {
   border-radius: 5px;
   background-color: #e7e7e7;
   padding: 20px 0;
}

form label {
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 3px;
}

input[type=text],
select,
textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}

input[type="submit"] {
   background-color: #413b3b;
   color: #fff;
   padding: 15px 50px;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 3px;
}

#btnupdate {
   background-color: #f5f5f5;
   color: #0b0808;
   padding: 10px 10px;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 3px;
}

#btndelete {
   background-color: #ffffff;
   color: #0b0808;
   margin-left: 10px;
   padding: 10px 10px;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 3px;
}

/* POPUP JOINCLASSROOM */
.joinclass {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.8);
   visibility: hidden;
   opacity: 0;
   padding-top: 200px;
}

.joinclass:target {
   visibility: visible;
   opacity: 1;
}

.joinclasswrapper {
   margin: auto;
   padding: 20px;
   background: #e7e7e7;
   border-radius: 5px;
   width: 65%;
   position: relative;
   transition: all 5s ease-in-out;
}

.joinclasswrapper h2 {
   margin-top: 0;
   color: #333;
}

.joinclasswrapper .close {
   position: absolute;
   top: 20px;
   right: 30px;
   transition: all 200ms;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: #333;
}

.joinclasswrapper .close:hover {
   color: #06D85F;
}

.joinclasswrapper .content {
   max-height: 30%;
   overflow: auto;
}

/* POPUP CreateFlashcard */
.createflashcard {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.8);
   visibility: hidden;
   opacity: 0;
   padding-top: 200px;
}

.createflashcard:target {
   visibility: visible;
   opacity: 1;
}

.createflashcardwrapper {
   margin: auto;
   padding: 20px;
   background: #e7e7e7;
   border-radius: 5px;
   width: 65%;
   position: relative;
   transition: all 5s ease-in-out;
}

.createflashcardwrapper h2 {
   margin-top: 0;
   color: #333;
}

.createflashcardwrapper .close {
   position: absolute;
   top: 20px;
   right: 30px;
   transition: all 10ms;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: #333;
}

.createflashcardwrapper .close:hover {
   color: #06D85F;
}

.createflashcardwrapper .content {
   max-height: 30%;
   overflow: auto;
}

/* ! Deck Card */
.ag-format-container {
   width: 1142px;
   margin: 0 auto;
}

.ag-courses_box {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;

   padding: 50px 0;
}

.ag-courses_item {
   -ms-flex-preferred-size: calc(33.33333% - 30px);
   flex-basis: calc(33.33333% - 30px);

   margin: 0 15px 30px;

   overflow: hidden;

   border-radius: 28px;
}

.ag-courses-item_link {
   display: block;
   padding: 30px 20px;
   background-color: #121212;

   overflow: hidden;

   position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
   text-decoration: none;
   color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
   -webkit-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
}

.ag-courses-item_title {
   min-height: 87px;
   margin: 0 0 25px;

   overflow: hidden;
   font-weight: bold;
   font-size: 30px;
   color: #FFF;

   z-index: 2;
   position: relative;
}

.ag-courses-item_date-box {
   font-size: 18px;
   color: #FFF;

   z-index: 2;
   position: relative;
}

.ag-courses-item_date {
   font-weight: bold;
   color: #f9b234;

   -webkit-transition: color .5s ease;
   -o-transition: color .5s ease;
   transition: color .5s ease
}

.ag-courses-item_bg {
   height: 128px;
   width: 128px;
   background-color: #f9b234;

   z-index: 1;
   position: absolute;
   top: -75px;
   right: -75px;

   border-radius: 50%;

   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
   background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
   background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
   background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
   background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
   background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
   .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
   }

   .ag-courses-item_title {
      font-size: 24px;
   }
}

@media only screen and (max-width: 767px) {
   .ag-format-container {
      width: 96%;
   }

}

@media only screen and (max-width: 639px) {
   .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
   }

   .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
      text-decoration: none;
      font-size: 24px;
   }

   .ag-courses-item_link {
      padding: 22px 40px;
      text-decoration: none;
   }

   .ag-courses-item_date-box {
      font-size: 16px;
   }
}